baseURL = "https://www.leyoubaloy.xyz/"
# [en, zh-cn, fr, ...] 设置默认的语言
defaultContentLanguage = "zh-cn"
# 网站语言, 仅在这里 CN 大写
languageCode = "zh-CN"
# 是否包括中日韩文字
hasCJKLanguage = true
# 网站标题
title = "孙百乐的编程学习"

# 更改使用 Hugo 构建网站时使用的默认主题
theme = "LoveIt"

[params]
  # LoveIt 主题版本
  version = "0.2.X"
[languages.zh-cn.params.app]
        # 当添加到 iOS 主屏幕或者 Android 启动器时的标题, 覆盖默认标题
        title = "孙百乐的编程学习"
        # 是否隐藏网站图标资源链接
        noFavicon = false
        # 更现代的 SVG 网站图标, 可替代旧的 .png 和 .ico 文件
        svgFavicon = "https://cdn.jsdelivr.net/gh/aiupc/drawingbed/img/qq头像.jpg"
        # Android 浏览器主题色
        themeColor = "#ffffff"
        # Safari 图标颜色
        iconColor = "#5bbad5"
        # Windows v8-10 磁贴颜色
        tileColor = "#da532c"

[menu]
    [[menu.main]]
      identifier = "home"
      pre = ""
      post = ""
      name = "首页"
      url = "/"
      title = ""
      weight = 1
  [[menu.main]]
    identifier = "tech"
    pre = "<i class='fas fa-desktop'></i>"
    post = ""
    name = "技能分享"
    url = "/categories/技能分享"
    title = ""
    weight = 2
  [[menu.main]]
    identifier = "books"
    pre = "<i class='fas fa-book'></i>"
    post = ""
    name = "书影记录"
    url = "/bookshelf"
    title = ""
    weight = 3
  # [[menu.main]]
  #   identifier = "posts"
  #   # 你可以在名称 (允许 HTML 格式) 之前添加其他信息, 例如图标
  #   pre = ""
  #   # 你可以在名称 (允许 HTML 格式) 之后添加其他信息, 例如图标
  #   post = ""
  #   name = "文章归档"
  #   url = "/posts/"
    # 当你将鼠标悬停在此菜单链接上时, 将显示的标题
    # title = ""
    # weight = 2
  # [[menu.main]]
  #   identifier = "tags"
  #   pre = ""
  #   post = ""
  #   name = "标签"
  #   url = "/tags/"
  #   title = ""
  #   weight = 3
  [[menu.main]]
    identifier = "free"
    pre = "<i class='fas fa-pen-nib'></i>"
    post = ""
    name = "随笔杂记"
    url = "/categories/随笔杂记"
    title = ""
    weight = 4
  [[menu.main]]
    identifier = "categories"
    pre = "<i class='fas fa-archive'></i>"
    post = ""
    name = "文章分类"
    url = "/categories/"
    title = ""
    weight = 5
  [[menu.main]]
    identifier = "about"
    pre = ""
    post = ""
    name = "关于我"
    url = "/about/"
    title = ""
    weight = 6

# Hugo 解析文档的配置
[markup]
  # 语法高亮设置 (https://gohugo.io/content-management/syntax-highlighting)
  [markup.highlight]
    # false 是必要的设置 (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false
    
[outputs]
  home = ["HTML", "RSS", "JSON"]
# 搜索引擎
[params.search]
    enable = true
    # 搜索引擎的类型 ("lunr", "algolia")
    type = "lunr"
    # 文章内容最长索引长度
    contentLength = 4000
    # 搜索框的占位提示语
    placeholder = ""
    # LoveIt 新增 | 0.2.1 最大结果数目
    maxResultLength = 10
    # LoveIt 新增 | 0.2.3 结果内容片段长度
    snippetLength = 50
    # LoveIt 新增 | 0.2.1 搜索结果中高亮部分的 HTML 标签
    highlightTag = "em"
    # LoveIt 新增 | 0.2.4 是否在搜索索引中使用基于 baseURL 的绝对路径
    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""

# 主页配置
  [params.home]
    # LoveIt 新增 | 0.2.0 RSS 文章数目
    rss = 10
    # 主页个人信息
    [params.home.profile]
      enable = true
      # Gravatar 邮箱，用于优先在主页显示的头像
      gravatarEmail = ""
      # 主页显示头像的 URL
      avatarURL = "https://cdn.jsdelivr.net/gh/aiupc/drawingbed/img/qq头像.jpg"
      # LoveIt 更改 | 0.2.7 主页显示的网站标题 (支持 HTML 格式)
      title = ""
      # 主页显示的网站副标题
      subtitle = "读万卷书 行万里路"
      # 是否为副标题显示打字机动画
      typeit = true
      # 是否显示社交账号
      social = true
      # LoveIt 新增 | 0.2.0 免责声明 (支持 HTML 格式)
      disclaimer = ""
    # 主页文章列表
    [params.home.posts]
      enable = true
      # 主页每页显示文章数量
      paginate = 10
      # LoveIt 删除 | 0.2.0 被 params.page 中的 hiddenFromHomePage 替代
      # 当你没有在文章前置参数中设置 "hiddenFromHomePage" 时的默认行为
      defaultHiddenFromHomePage = false

# LoveIt 新增 | 0.2.0 List (目录或标签) 页面配置
  [params.list]
    # list 页面每页显示文章数量
    paginate = 30
    # 日期格式 (月和日)
    dateFormat = "01-02"
    # RSS 文章数目
    rss = 10

  # 作者的社交信息设置
  [params.social]
    GitHub = "leyouBaloy"
    Email = "1942956063@qq.com"


# LoveIt 新增 | 0.2.0 网站分析配置
  [params.analytics]
    enable = true
    # Google Analytics
    [params.analytics.google]
      id = "G-FWJQFY04TK"
      # 是否匿名化用户 IP
      anonymizeIP = true

[params.footer]
    enable = true
    # LoveIt 新增 | 0.2.0 自定义内容 (支持 HTML 格式)
    custom = ''
    # LoveIt 新增 | 0.2.0 是否显示 Hugo 和主题信息
    hugo = false
    # LoveIt 新增 | 0.2.0 是否显示版权信息
    copyright = true
    # LoveIt 新增 | 0.2.0 是否显示作者
    author = false
    # 网站创立年份
    since = 2022
    # ICP 备案信息，仅在中国使用 (支持 HTML 格式)
    icp = "鲁ICP备2020039365号-1"
    # 许可协议信息 (支持 HTML 格式)
    # license = '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'
[params.page.comment]
      enable = true
  [params.page.comment.valine]
        enable = true
        appId = "7d4uuBoHJjcoTArKAPbPhRVC-gzGzoHsz"
        appKey = "6KLJGiDyLqts0JE077ta5vKm"
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        # LoveIt 新增 | 0.2.6 emoji 数据文件名称, 默认是 "google.yml"
        # ("apple.yml", "google.yml", "facebook.yml", "twitter.yml")
        # 位于 "themes/LoveIt/assets/data/emoji/" 目录
        # 可以在你的项目下相同路径存放你自己的数据文件:
        # "assets/data/emoji/"
        emoji = ""


[params.page.math]
      enable = true
      # 默认块定界符是 $$ ... $$ 和 \\[ ... \\]
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
      # 默认行内定界符是 $ ... $ 和 \\( ... \\)
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
      # KaTeX 插件 copy_tex
      copyTex = true
      # KaTeX 插件 mhchem
      mhchem = true

[params.page.code]
      # 是否显示代码块的复制按钮
      copy = true
      # 默认展开显示的代码行数
      maxShownLines = 50